node_modules/
dist/
build/

**/**package-lock.json
**/**package.json

/admin/app.json
/admin/babel.config.js
/admin/eas.json
/admin/index.ts
/admin/metro.config.js

/investor/app.json
/investor/babel.config.js
/investor/eas.json
/investor/index.ts
/investor/metro.config.js

/partner/app.json
/partner/babel.config.js
/partner/eas.json
/partner/index.ts
/partner/metro.config.js

.vscode
.github
.expo
/README.md